body {
  margin: 0 auto;
  padding: 45px 0 0;
  background: lavender;
  font-family: "Arial Black", Gadget, sans-serif;
}

.jumbotron h1 {
  text-align: center;
  margin: 0;
  text-shadow: 0 0 1px white;
  color: indigo;
}

h3,
h4,
h5 {
  padding: 1rem 0;
  margin: 0;
  text-align: center;
  height: 2em;
}

h4 {
  margin-bottom: 2rem;
}

h3 span,
h4 span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

p {
  font-family: Verdana, Geneva, sans-serif;
}

img{
    border-radius: 15px;
    border: 5px solid white;
    float: right;max-width: 50%;
}

.example p:first-of-type {
  padding: 0;
  margin: 1rem 0;
}

.example p:not(:first-of-type) {
  padding-right: 1rem;
  text-align: right;
}

br {
  line-height: 4rem;
}

.navbar,
.navbar .container ul,
.navbar .container ul li,
.navbar .container ul li a{
  margin: 0;
  padding: 0;
  height: 50px;
}

.navbar .container ul li a{
  padding: 15px 15px 5px;
}

.jumbotron {
  padding: 1rem;
  margin: 0;
  background: darkslateblue;
}

.jumbotron .lead {
  background: rgba(255,255,255,.5);
  border-radius: 1rem;
  border: 1px solid white;
  padding: 2rem;
  margin: 2rem;
}

.main-content {
  padding: 1rem;
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  margin: 0;
  padding: 0;
}

.col-md-3 {
  padding: 1rem;
}

.example {
  background: rgba(64,0,64,.2);
  padding: 1rem;
  border: 1px solid rebeccapurple;
  border-radius: 15px;
}

.about-heading {
  text-align: left;
  padding: 0;
  margin: 1rem 0;
}

ol {
  padding-left: 18px;
}


@media only screen and (min-width: 768px) {
  .jumbotron h1 {
    padding: 2rem 0 1rem;
  }

  .jumbotron {
    margin-bottom: 3rem;
  }

  .main-content {
    background: rgba(0,0,0,.1);
    border: 1px solid rebeccapurple;
    border-radius: 15px;
    margin: 2rem auto;
  }

  h3,
  h4 {
    height: 3em;
    margin-bottom: 2rem;
  }

}
