body {
  margin: 0 auto;
  padding: 45px 0 0;
  background: lavender;
  font-family: "Arial Black", Gadget, sans-serif;
  min-width: 317px;
}
.navbar,
.navbar .container ul,
.navbar .container ul li,
.navbar .container ul li a{
  margin: 0;
  padding: 0;
  height: 50px;
}
.navbar .container ul li a{
  padding: 15px 15px 5px;
}
.jumbotron {
  padding: 1rem 0;
  margin: 0;
  background: darkslateblue;
}
.jumbotron .container {
  padding: 0;
}
.jumbotron .container h1 {
  text-align: center;
  margin: 0;
  text-shadow: 0 0 1px white;
  color: indigo;
}
.jumbotron .lead {
  background: rgba(255,255,255,.5);
  border-radius: 1rem;
  border: 1px solid white;
  padding: 2rem;
  margin: 2rem;
}
.row {
  margin: 0;
  padding: 0;
}
div.container div.row div.col {
  padding: 1rem;
  margin-bottom: 0;
}
.main-content {
  padding: 1rem;
  overflow: auto;
  margin-bottom: 1rem;
}
.about-heading {
  font-weight: bold;
  font-size: 1.2em;
  padding: .8em 0;
}
div.example {
  background: rgba(64,0,64,.2);
  padding: 1rem;
  border: 1px solid rebeccapurple;
  border-radius: 15px;
  margin: 0 auto;
  height: 450px;
}
div.example img {
  display: block;
  max-height: 50%;
  margin: 0 auto;
}
br {
  line-height: 4rem;
}
img#portrait {
  border-radius: 15px;
  border: 5px solid white;
  float: right;
  max-width: 50%;
}
h3,
h4 {
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}
h4 {
  margin-bottom: 1rem;
}
p {
  font-family: Verdana, Geneva, sans-serif;
  max-width: 346px;
  margin: 0 auto;
}
div.jumbotron p.lead {
  max-width: none;
  width: 80%;
  margin: 0 auto;
}
ul {
  padding-left: 2rem;
}




@media only screen and (min-width: 544px) {

}

@media only screen and (min-width: 768px) {
  .jumbotron {
    margin-bottom: 3rem;
  }
  .jumbotron h1 {
    padding: 2rem 0 1rem;
  }
  .col {
    margin-bottom: 1rem;
  }
  .main-content {
    background: rgba(0,0,0,.1);
    border: 1px solid rebeccapurple;
    border-radius: 15px;
    margin: 2rem auto;
  }
}
